.content{
display: grid;
grid-template-rows: repeat(2,auto);
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: space-between;    
    gap: 10px;
}